In [15]:
import seaborn as sns
import pandas as pd
planets = sns.load_dataset("planets")
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [16]:
df = planets.copy()

In [17]:
df.info() # veri seti hakkında bilgi verir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [18]:
df.dtypes # veri setindeki kolonları veri tiplerini gösterir

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

### veri tipi dönüşümü

In [19]:
df['method'] = pd.Categorical(df['method']) # veri tipini kategorik olarak güncelledik
df.dtypes

method            category
number               int64
orbital_period     float64
mass               float64
distance           float64
year                 int64
dtype: object

### Eksik Gozlem Var mı ?

In [20]:
df.isnull().any() # eğer bu verilerin herhangi birtanesinde eksik var ise True Döner

method            False
number            False
orbital_period     True
mass               True
distance           True
year              False
dtype: bool

### Hangi değişkender kaç tane eksik değer var ?

In [21]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Eksik Verileri Doldurma

In [22]:
df['orbital_period'].fillna(0 , inplace=True) # orbital_period kolonundaki eksik verilere 0 yerini koyduk
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [23]:
df['mass'].fillna(df['mass'].mean() , inplace=True) # mass kolonundaki eksik verilere mass kolonunun verilerinin ortalama degerini koyduk
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [24]:
df.fillna(df.mean(),inplace=True) # bütün eksik veriler yerine dataframein ortalama degerini verdik
df.isnull().sum()

C:\Users\enesb\AppData\Local\Temp\ipykernel_23216\539270886.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(),inplace=True) # bütün eksik veriler yerine dataframein ortalama degerini verdik

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

In [25]:
data = pd.read_csv("C:\\Users\\enesb\\Desktop\\MyProject\\data.txt")
data.columns

Index(['total_Red', 'total_Black', 'total_Green', 'total_Seven', 'red',
       'black', 'green', 'seven', 'time', 'balance', 'bet', 'betColor',
       'lose_count'],
      dtype='object')